#BG{
    background-image: url(https://c1.staticflickr.com/9/8561/16506886811_05d87c5473_k.jpg);
      height: 50%;
    }
    #Wrap{
      margin: auto;
      width: 1400px;
        overflow: hidden;
    }
    #box{
    color:white;
      margin-left:100px;
      width:340px;
      float:left;
       border-right: 1px solid #fff;
    }
    input[type="text"] {
      background:none;
        width: 300px;
      height:40px;
      border:1px solid #fff;
      text-align:center;
      font-size:30px;
      font-family: 'Raleway', sans-serif;
      color:white;
    }
    #Toinen{
      float:left;
      color:white;
      text-align:center;
      height:500px;
      width:450px;
      border-right: 1px solid #fff;
      font-size:45px;
      line-height: 155%;
      font-family: 'Dosis', sans-serif;
      
    }
    h1{
      color:white;
      font-size:20px;
      font-family: 'Dosis', sans-serif;
      text-align:center;
      font-size:80px;
      padding-top:50px;
      padding-bottom:40px;
      font-weight:1;
    }
    h2{
      font-family: 'Dosis', sans-serif;
      color:white;
      text-align:center;
      font-size:40px;
      padding-top:12px;
      font-weight:1;
    }
    
    #fuelcalculator{
     color:#fff;
      font-size:50px;
      line-height: 125%;
      font-family: 'Dosis', sans-serif;
    }
    #submit{
      color:#fff;
      background:none;
      border:1px solid #fff;
    margin-top:150px;
      margin-left:100px;
      font-size:100px;
      font-family: 'Dosis', sans-serif;
    
    }
    button:focus { outline: none; }
    .container {
        margin-left:1px;
        display: block;
        position: relative;
        padding-left: 50px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .container input {
        position: absolute;
        opacity: 0;
    
        cursor: pointer;
    }
    
    
    .checkmark {
    margin-top:18px;
    
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width:25px;
      border:1px solid #fff;
        background-color: none;
        border-radius: 20%;
    }
    .container:hover input ~ .checkmark {
        background-color:#f000ff;
    }
    
    
    .container input:checked ~ .checkmark {
        background-color: #c6ca53;
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    
    }
    
    .container input:checked ~ .checkmark:after {
        display: block;
    
    }
    .container .checkmark:after {
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        border-radius: 20%;
        background: #00b8ff;
       
    }